:root {
  --primary:#FFF;
  --secondary:#000;
}

* {
  box-sizing:border-box;
  scroll-behavior: smooth;
  /* text-align: center; */
  font-family: sans-serif;
}

title {
  display: none;
}

.mugshot {
  min-width: 80%;
  border-radius: 50%;
  padding: 1em;
}

img {
  max-width: 30%;
}

ul {
  margin: 2em 20%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  width: 30%
}

/* html {
  background: var(--secondary);
  color: var(--primary);
} */